<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871571731709-6tcjc08pjqh98na3cj93lsctrbp25p5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871571731709-6tcjc08pjqh98na3cj93lsctrbp25p5o</string>
	<key>API_KEY</key>
	<string>AIzaSyAEK4bqYEyRv2izW2e1OuIW8UbMAl9WrBw</string>
	<key>GCM_SENDER_ID</key>
	<string>871571731709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.voyagerent.pokerclubtest</string>
	<key>PROJECT_ID</key>
	<string>pokerclub-d6e60</string>
	<key>STORAGE_BUCKET</key>
	<string>pokerclub-d6e60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871571731709:ios:fe5a01b1c008238a28fa94</string>
</dict>
</plist>